:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #e5e5e5;
  --border: #d0d0d0;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #3a3a3d;
    --border: #4a4a4d;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  min-height: 100svh;
}

h1 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
  font-size: 40px;
  letter-spacing: -1px;
  margin: 0 0 16px;
}
